body {
	margin: 0;
	padding: 0;
	background-color: yellow;
	color: red;
}
header {
	background-color: aqua;
	padding: 10px;
}
nav ul {
	margin: 0;
	padding: 0;
	text-align: center;
}
nav ul li {
	margin: 0;
}
nav ul li a {
	color: blue;
	font-weight: bold;
}
h1 {
	text-align: center;
	margin-top: 50px;
	color: blueviolet;
}
footer { 
	background-color: bisque;
	text-align: center;
	padding: 15px;
	bottom: 0;
	width: 100%;
}
